@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Desculpe, ocorreu um erro durante o processamento de sua requisição.     
</h2>
<span> @ViewBag.Error </span>
