
@model ClinicaMVC3.Models.Paciente

<input  id="inputMethod" type=hidden value="@ViewBag.Method"/>
<h2>@ViewBag.Title</h2>
<h3>Inserir Novo</h3>

<div>
    @Html.Partial("PacientePartial",ViewData)
</div>



